.courses {
  @media(--lg) {
    height: 100%;
  }
  .list {
    margin-top: 4em;
    @media(--lg) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 4em;
      margin-top: 2em;
      height: 100%;
    }
  }
  .course {
    @media(--lg) {
      height: 82.5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &.hide {
      display: none;
    }
    &:not(:last-child) {
      position: relative;
      margin-bottom: 4em;
      &:after {
        position: absolute;
        top: calc(100% + 3em);
        left: 0;
        content: '';
        opacity: .5;
        background: var(--haze);
        width: 100%;
        height: 1px;
      }
      @media(--lg) {
        margin-bottom: 0;
        &:after {
          top: 1em;
          left: unset;
          right: -2em;
          width: 2px;
          height: calc(100% + 2em);
        }
      }
    }
    &-month {
      font-weight: 700;
      font-size: 4em;
      color: var(--cement);
      @media(--lg) {
        font-size: 3em;
      }
      @media(min-width: 1560px) {
        font-size: 4em;
      }
    }
    &-title {
      font-weight: bold;
      margin: .5rem 0 0 0;
      font-size: 1.5em;
      @media(--lg) {
        font-size: 1.25em;
        width: 60%;
      }
    }
    &-category {
      font-size: 1em;
      font-weight: 400;
      color: var(--clay);
      opacity: .8;
      margin-top: .75em;
    }
    &-date {
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 1rem;
    }
    &-image {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 50%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-excerpt {
      margin-top: 1em;
      color: var(--clay);
      a {
        color: var(--night);
        margin-left: .5em;
      }
    }
  }
}
